*{
    position:relative;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#fff9d5;
}
.container{
    height:400px;
    width:400px;
    margin:0 auto;
    top:250px;
    text-align:center;
}
.formContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: flex-end;
}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:10px;
  }

 #custom-button:hover {
    background-color: #00b28f;
  }
.flashes{
    font-size:25px;
    color:red;
    font-weight:700;
}
  