<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
    <title>Python Flask Multiple Files Upload Example</title>
</head>
<body>
 <div style="position:relative;left:25%;">
    <div class="container"> 
    <h1 style="margin-bottom:2rem">請上傳想要轉成 GeoJson 的 Shp 檔案</h1>
    <p >
        {% with messages = get_flashed_messages(category_filter='upload') %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
        <li>{{ message }}</li>
           {% endfor %}
        </ul>
            {% endif %}
            {% endwith %}
    </p>
      <div class="formContainer">
        <div>
        <form method="post" action="/" enctype="multipart/form-data">
            <input type="file" name="files[]" multiple="true" autocomplete="off" required
        class="fileInput"
            >
            <input type="submit" value="Submit" id="custom-button">
        </form>
        </div>
        <div style="left:8rem">
        <form method="post" action="/shp" enctype="multipart/form-data">
            <input type="submit" value="開始轉檔" id="custom-button">
        </form>
        <form method="get" action="/getShp" enctype="multipart/form-data">
            <input type="submit" value="查看轉檔結果" id="custom-button">
        </form>
        <form method="get" action="/download" enctype="multipart/form-data">
            <input type="submit" value="下載檔案" id="custom-button">
        </form>
        </div>
      </div>
    </div>
    <div class="SecondContainer">
        <h1 style="margin-bottom:40px">點擊這裡前往將 KML 檔轉成 GEOJSON 檔的分頁</h1>
        <button id="custom-button">
            <a href="http://127.0.0.1:5000/kml"
            style="text-decoration: none;color:white;"
            >前往</a>
        </button>
    </div>
</div>
</body>
</html>